body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.tablero {
    display: grid;
    grid-template-columns: 50px repeat(8, 1fr) 50px;
    grid-template-rows: 50px repeat(8, 1fr) 50px;
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
}

.blanco, .negro {
    font-size: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blanco {
    background-color: rgb(250, 237, 237);
}

.negro {
    background-color: rgb(161, 182, 228);
}

.letras, .numeros {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.esquina {
    background-color: #f0f0f0;
}
